includes:
    - phpstan-baseline.neon

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - phpstan-stubs.php
    phpVersion: 70400
    level: 5
    paths:
        - packages/reprint-exporter
        - packages/reprint-importer
        - reprint-exporter-wp
    excludePaths:
        analyseAndScan:
            - reprint-exporter-wp/wordpress/
            - reprint-exporter-wp/index.php
            - reprint-exporter-wp/vendor/
            - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/mysql/native/
        analyse:
            - packages/reprint-exporter/src/class-sqlite-driver-pdo.php
            - packages/reprint-importer/src/lib/mysql-query-stream/
            - reprint-exporter-wp/vendor/
    treatPhpDocTypesAsCertain: false
    scanDirectories:
        - packages/reprint-exporter/src
        - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/parser
        - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/mysql
        - lib/sqlite-database-integration/packages/mysql-on-sqlite/src/sqlite
