parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$newvalue of function ini_set expects string, int given\\.$#"
			count: 1
			path: packages/reprint-importer/src/import.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: packages/reprint-exporter/src/class-mysql-dump-producer.php

		-
			message: "#^Strict comparison using \\!\\=\\= between null and null will always evaluate to false\\.$#"
			count: 1
			path: packages/reprint-exporter/src/class-file-tree-producer.php
