includes:
    - phpstan-baseline.neon

parameters:
    phpVersion: 70400
    level: 5
    paths:
        - wordpress-plugin
        - importer
    excludePaths:
        - wordpress-plugin/generic/secrets.php
        - wordpress-plugin/generic/class-sqlite-driver-pdo.php
        - wordpress-plugin/wordpress/
        - wordpress-plugin/index.php
    treatPhpDocTypesAsCertain: false
    scanDirectories:
        - wordpress-plugin/generic
